<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1 class="display-4">I'm a soundtrack geek</h1>
  </div>
</div>

<div class="container py-10">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h5 class="mb-0">My List by Composer</h5>
    <%= link_to 'Create a new composer', new_list_path, class: 'btn btn-dark'%>
  </div>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 colsm-6 col-md-4 pt-4">
        <%= link_to list_path(list), class:'text-decoration-none' do %>
          <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path('list_background.jpg') %>)">
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>