<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "My lists", root_path, class: "nav-link text-white" %>
      </li>
      <li class="nav-item active">
        <%= link_to "New list", new_list_path, class: "nav-link text-white" %>
      </li>
    </ul>
  </div>
</div>